<template>
  <div class="news-item">
    <div class="image">
      <img v-bind:src="article.urlToImage"/>
    </div>
    <div class="content">
      <a v-bind:href="article.url" target="_blank">{{article.title}}</a>
      <p>{{article.description}}</p>
      <span class="author">By {{article.author}}</span>
      <span class="time">{{ article.publishedAt | moment }}</span>
     
    </div>
    
    
  </div>
</template>

<script>
import moment from 'moment';
export default {
  name: "NewsListItem",
  props: ["article"],
  components: {
  },
  filters: {
    moment: function (date) {
      return moment(date).format('MMMM Do YYYY, h:mm:ss a');
    }
  }
}
</script>

<style scoped>
  .image{
    width: 30%;
    display: inline-block;
    vertical-align: top;
    max-width: 220px;
    padding: 1rem 0.5rem;
  }

  .image img {
    display: block;
    width: 100%;
  }

  .content{
    display: inline-block;
    width: 70%;
    padding: 1rem 0.5rem;
  }

  a{
    text-decoration: none;
    color: black;
  }
  p{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: #636363;
  }

  .news-item{
    box-shadow: 2px 2px 7px 0px rgb(0 0 0 / 55%);
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    background: white;
    transition: 0.2s;


  }

  .news-item:hover{
    background: #dedede;
  }

  .time{
    float: right;
  }

  span{
    color: #9e9e9e;
  }
</style>