<template>
  <div>
  <div v-bind:key="article.id" v-for="article in articles">
    <NewsListItem v-bind:article="article"/>
  </div>
  </div>
</template>

<script>
import NewsListItem from "../molecule/NewsListItem";
export default {
  name: "NewsList",
  props: ["articles"],
  components: {
    NewsListItem
  }
}
</script>

<style scoped>

</style>