<template>
  <div>
    <h2>News</h2>
    <NewsList v-bind:articles="articles"/>
  </div>
</template>

<script>
import { fetchTopHeadlines } from "../../api/api";
import NewsList from "../organism/NewsList";
export default {
  name: "News",
  components: {
    NewsList
  }, 
  data () {
    return {
      articles: [],
    }
  },
  
  methods: {
    getNews () {
      let self = this;
      fetchTopHeadlines().then(function(response) {
        self.articles = response.data.articles;
      })
    }
  },
  created () { 
    this.getNews()
  },
}


</script>

<style scoped>
  h2{
    text-align: center;
    margin: 1rem;
  }
</style>