<template>
  <div id="app">
    <News />
  </div>
</template>

<script>
import News from "./components/page/News"

export default {
  name: 'App',
  components: {
    News
  },
  data() {
    return {
      msg: "hello"
    }
  }
}
</script>

<style>
  * {
     box-sizing: border-box;
     margin: 0;
     padding: 0; 
  }

  body{
    background: #bfbfbf;
    font-family: 'Montserrat', sans-serif;
  }
</style>
